.property-card {
  max-width: 50%;
  margin: 1% 30% 5% 30%;
}

#map {
  width: auto;
  height: 20em;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

.ol-attribution {
  position: relative;
  bottom: 50em;
}
